body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  cursor: pointer;
  background-color: teal;
  color: #fff;
  border: none;
  padding: 5px 10px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  max-width: 600px;
  width: 100%;
  height: 500px;
  background-color: ivory;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.add-task-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.add-task-container input[type="text"] {
  border: none;
  padding: 8px;
  flex-grow: 1;
  margin-right: 10px;
}

.add-task-container button {
  background-color: teal;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.todo-item input[type="text"] {
  border: none;
  padding: 8px;
  flex-grow: 1;
}

.todo-item button {
  background-color: #ff4d4d;
  margin-left: 10px;
  cursor: pointer;
}
